/* First Website: Basic  */
/*code for first website */
.basic_h1{
  font-family: sans-serif;
}
ul.basic_header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.basic_header {
  background-color: #111;
  padding: 0;
}
ul.basic_header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.basic_postCard {
  background-color: #FFF;
  padding: 20px;
  margin: 10px;
}
.basic_content h2 {
  padding: 0;
  margin: 0;
}
.basic_content li {
  margin-bottom: 10px;
}

ul.basic_header .active {
    background-color: #0099FF;
  }
/* End for first website  */

