/* This is the css for the To_Do app  */
.todo_main {
    padding: 1%;
    height: 100%;
}

.todo_main ul li {
    list-style-type: none;
    width: 90%;
    background-color: white;
    padding: 30px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.todo_content {
    background-color: white;
}
.todo_close {
    float: right;
}